<div class="container">
    <div (click)="profile_click(profile)" class="profile-container" *ngFor="let profile of saved_profiles">
        <div [ngStyle]="{'background-image': 'url(' + profile.profile1 + ')'}" class="photo"></div>
        <div class="info-container">
            <div class="name">{{profile.name}}</div>
            <div class="age">{{get_gender_age(profile.dob, profile.gender)}}</div>
            <div class="description">{{profile.description}}</div>
            <!-- <div class="gap"></div> -->
            <!-- <div class="distance">Distance: {{profile.distance?.toPrecision(2)}}m</div> -->
        </div>
    </div>
    <div *ngIf="user" class="user-container">
        <div (click)="close_profile()" class="cross"></div>
        <div [ngStyle]="{'background-image': 'url(' + user.profile1 + ')'}" class="photo top"></div>
        <div class="info-container">
            <div class="name">{{user.name}}</div>
            <div class="age">{{get_gender_age(user.dob, user.gender)}}</div>
            <div class="description">{{user.description}}</div>
            <div class="social-container">
                <div (click)="redirect('https://facebook.com/' + user.facebook)" class="social facebook" *ngIf="user.facebook_public"></div>
                <div (click)="redirect('https://instagram.com/' + user.insta)" class="social insta" *ngIf="user.insta_public"></div>
                <div (click)="redirect('https://linkedin.com/in/' + user.linkedin)" class="social linkedin" *ngIf="user.linkedin_public"></div>
                <div (click)="redirect('https://twitter.com/' + user.twitter)" class="social twitter" *ngIf="user.twitter_public"></div>
            </div>
        </div>
        <div class="photo" [ngStyle]="{'background-image': 'url(' + user.profile2 + ')'}"></div>
        <div class="photo" [ngStyle]="{'background-image': 'url(' + user.profile3 + ')'}"></div>
        <div class="decision-container">
            <!-- <div (click)="close_profile()" class="icon reject"></div>
            <div (click)="save_profile(user.id!)" class="icon select"></div> -->
        </div>
    </div>
</div>
