<div class="container">
    <div class="smrge-container">
        <div class="logo"></div>
        <div class="title">Please enter your social media handles</div>
        <div class="subtitle">Add atleast one to continue</div>
    </div>
    <div class="social-container">
       <!-- <div class="social">
            <div class="image facebook"></div>
           <input <button (click)="facebookLogin()" class="fb-login-btn">Login with Facebook</button> 
           <input [(ngModel)]="facebook" class="mobile-input" placeholder="facebook" type="text">
            <input <p>{{ profileMessage }}</p> 
        </div> ; -->
        <div class="social">
            <div class="image instagram"></div>
            <input [(ngModel)]="instagram" class="mobile-input" placeholder="Add your id here" type="text">
            <p (click) = "instaHelp()"><span title="Help information"></span>&#9432;</p>
        </div>
        <div class="social">
            <div class="image linkedin"></div>
            <input [(ngModel)]="linkedin" class="mobile-input" placeholder="Add your id here" type="text">
            <p (click) = "LinkedInHelp()"><span title="Help information"></span>&#9432;</p>
        </div>
        <div class="social">
            <div class="image twitter"></div>
            <input [(ngModel)]="twitter" class="mobile-input" placeholder="Add your id here" type="text">
            <p (click) = "XHelp()"><span title="Help information"></span>&#9432;</p>
        </div>
    </div>
    <div class="button-container">
        <!-- <div class="button skip">Skip</div> -->
        <div (click)="submit()" class="button submit">Next</div>
    </div>
    <!-- Custom modal -->
<div id="customAlert" style="display: none;">
    <div class="modal-content">
      <span id="closeModal" class="close">&times;</span>
      <h2>Insta profile help</h2>
      <p>Profile Tab -> Share Profile -> Copy link</p>
      <img src="InstaUrlHelp.png" alt="Example Image">
    </div>
  </div>

  <div id="customAlertLinkedIn" style="display: none;">
    <div class="modal-contentLinkedIn">
      <span id="closeModalLinkedIn" class="close">&times;</span>
      <h2>LinkedIn profile help</h2>
      <p>Profile pic -> View Profile -> Click ... -> Share Via -> Copy</p>
      <img src="LinkedInHelp.png" alt="Example Image">
    </div>
  </div>

  <div id="customAlertX" style="display: none;">
    <div class="modal-contentX">
      <span id="closeModalX" class="close">&times;</span>
      <h2>X profile help</h2>
      <p>Profile pic -> Get the handle/id</p>
      <img src="X_help.png" alt="Example Image">
    </div>
  </div>
</div>

